@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #28282f;
    padding: 30px;
}

.container{
    position: relative;
    max-width: 1000px;
    width: 100%;
    background: #fbfbfd;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 30px 40px 30px rgba(19, 19, 19, 0.65);
    perspective: 2700px;
    height: 730px;
}

.nav-links{
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
    list-style: none;
    margin: 0 12px;
}
.nav-links li a{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}
.nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #ad810b;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.nav-links li a:hover:before {
    width: 100%;
}

.nav-links li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.center-nav {
    display: flex;
}

.internal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 83%;
    margin-top: 5%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.decorate-title {
    font-size: 20px;
    border: 1px solid #d9d9d9;
    padding: 10px;
}

.display-table {
    padding: 10px;
    height: 100%;
    width: 90%;
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

th, td {
    border: 1px solid #ad810b;
    padding: 5px;
}

.table-holder {
    overflow-x: auto;
    height: 90%;
    width: 60%;
}

.adjust {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-right: 10px;
}